{% load staticfiles thumbnail %}
{% extends "base.html" %}
{% block content %}
    <!-- image Gallery -->
<div >
    <ul>
        {% for gallery in latest_gallery_list %}
        <li class="masonry-item grid">
            <figure > <img src="{% thumbnail gallery.featured_image 700x1000 %}" alt="" />
                <figcaption>
                    <h2>Gallery <span>{{ gallery.title }}</span></h2>
                    <p>{{ gallery.description }}</p>
                    <a href="">View more</a> </figcaption>
            </figure>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

